<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Prio">

  <link rel="shortcut icon" href="./libs/angular-dragula/favicon.ico">


  <!--  <link href='./libs/angular-dragula/example/example.css' rel='stylesheet' />-->

  <!-- TODO: Compile all libs CSS files into one -->

  <link href='./libs/angular-dragula/dist/dragula.min.css' rel='stylesheet' />
  <link href='./libs/normalize.css' rel='stylesheet' />
  <link href='./libs/pure/grids-min.css' rel='stylesheet' />
  <link href='./libs/pure/grids-responsive-min.css' rel='stylesheet' />
  <link href='./libs/pure/menus-core-min.css' rel='stylesheet' />
  <link href='./libs/pure/menus-scrollable-min.css' rel='stylesheet' />
  <link href='./libs/pure/menus-skin-min.css' rel='stylesheet' />
  <link href='./libs/pure/menus-horizontal-min.css' rel='stylesheet' />

  <link href='./css/style.css' rel='stylesheet' />
  <link href='./css/menu.css' rel='stylesheet' />
  <title>Prio</title>
</head>

<body ng-app='prio' ng-controller='AppCtrl'>
  <!--[if lt IE 10]>
<p>Your browser is <em>ancient</em>! Using an outdated browser makes your computer unsafe, and this site doesn't support outdated browsers. <a href="http://browsehappy.com/">Upgrade to a different 
browser</a>.</p>
<![endif]-->

  <header>
    <nav class="custom-menu-wrapper">
      <div class="pure-menu custom-menu custom-menu-top">
        <a href="#" class="pure-menu-heading custom-menu-brand">Prio</a>
        <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
      </div>
      <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu">
        <div class="custom-menu-screen"></div>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link" ng-click="login()">Login/Logout</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>

    <!--      <li ng-repeat="(key,value) in tasks">test{{value}}</li>-->

    <div class="debug-status debug-status-{{status.code}}" ng-if="status.message && debug">
      <p>Status: <span ng-bind='status.message'></span></p>
    </div>


    <div class="pure-g parent drag-container">
      <ul class="pure-u-1 pure-u-sm-1-2 sortable" dragula="'draggable-tasks'">
        <li ng-repeat="taskId in tasks.taskIdsByDate.today track by $index" ng-bind="tasks.tasksById[taskId].title" dragula-scope='$parent' data-task-id="{{taskId}}"></li>
      </ul>
      <ul class="pure-u-1 pure-u-sm-1-2 sortable" dragula="'draggable-tasks'">
        <li ng-repeat="taskId in tasks.taskIdsByDate.today track by $index" ng-bind="tasks.tasksById[taskId].title" dragula-scope='$parent' data-task-id="{{taskId}}"></li>
      </ul>
      <div class="pure-g">
        <ul class="pure-u-1 pure-u-sm-1-2 sortable" dragula="'draggable-tasks'">
          <li ng-repeat="taskId in tasks.taskIdsByDate.today track by $index" ng-bind="tasks.tasksById[taskId].title" dragula-scope='$parent' data-task-id="{{taskId}}"></li>
        </ul>
        <ul class="pure-u-1 pure-u-sm-1-2 sortable" dragula="'draggable-tasks'">
          <li ng-repeat="taskId in tasks.taskIdsByDate.today track by $index" ng-bind="tasks.tasksById[taskId].title" dragula-scope='$parent' data-task-id="{{taskId}}"></li>
        </ul>
      </div>
    </div>


    <div class="pure-g parent drag-container" ng-show="tasks.taskIdsByDate.overdue.length">
      <div class="pure-u-1">
        <h2>Overdue</h2>
      </div>
      <div class="pure-u-1 task-list tasks-overdue no-drop" dragula="'draggable-tasks'" data-list-date="{{date.overdue | date: 'yyyy-MM-dd'}}">
        <div ng-repeat="taskId in tasks.taskIdsByDate.overdue track by $index" ng-bind="tasks.tasksById[taskId].title" dragula-scope='$parent' data-task-id="{{taskId}}" ng-if="tasks.taskIdsByDate.overdue.length"></div>
      </div>
    </div>
    <div class="pure-g parent drag-container" data-drop-zone="">
      <div class="pure-u-1">
        <h2>Today</h2>
      </div>
      <div class="pure-u-1 task-list tasks-today" dragula="'draggable-tasks'" data-list-date="{{date.today | date: 'yyyy-MM-dd'}}">
        <div class="hidden drop-zone">Today</div>
        <div ng-repeat="taskId in tasks.taskIdsByDate.today track by $index" ng-bind="tasks.tasksById[taskId].title" dragula-scope='$parent' data-task-id="{{taskId}}"></div>
      </div>
    </div>
    <div class="pure-g parent drag-container" data-drop-zone="">
      <div class="pure-u-1">
        <h2>Tomorrow</h2>
      </div>
      <div class="pure-u-1 task-list tasks-tomorrow" dragula="'draggable-tasks'" data-list-date="{{date.tomorrow | date: 'yyyy-MM-dd'}}">
        <div class="hidden drop-zone">Tomorrow</div>
        <div ng-repeat="taskId in tasks.taskIdsByDate.tomorrow track by $index" ng-bind="tasks.tasksById[taskId].title" dragula-scope='$parent' data-task-id="{{taskId}}"></div>
      </div>
    </div>
    <div class="pure-g parent drag-container" data-drop-zone="">
      <div class="pure-u-1">
        <h2>Week</h2>
      </div>
      <div class="pure-u-1 task-list tasks-week" dragula="'draggable-tasks'" data-list-date="{{date.week | date: 'yyyy-MM-dd'}}">
        <div class="hidden drop-zone">Week</div>
        <div ng-repeat="taskId in tasks.taskIdsByDate.week track by $index" ng-bind="tasks.tasksById[taskId].title" dragula-scope='$parent' data-task-id="{{taskId}}"></div>
      </div>
    </div>
  </main>


  <!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.5/es5-shim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.2/es6-shim.min.js"></script>
-->

  <script src="./libs/angular/angular.min.js"></script>
  <script src='./libs/angular-dragula/dist/angular-dragula.min.js'></script>
  <script src="./libs/query-string/query-string.js"></script>
  <script src='./libs/wunderlist.js/dist/wunderlist.sdk.min.js'></script>

  <script src='./js/app.js'></script>
  <script src='./js/values.js'></script>
  <script src='./js/factory.helpers.js'></script>
  <script src='./js/factory.storage.js'></script>
  <script src='./js/service.wunderlist.js'></script>
</body>

</html>