$color-black: #2c2c29;

// Orange
$color-primary: #FF6600;
//$color-primary-dark: #FF6600;

// Purple
//$color-primary: #be46ad;
//$color-primary-dark: #711364;

$color-secondary: #ffe78d;
$color-secondary-dark: #ffd740;

$color-link: $color-primary;