html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  font-family: Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

header, nav {
  z-index: 2;
}

main {
  z-index: 1;
}

.debug-status {
  background: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0, 0.7);
  font-size: 11px;
  padding: 7px;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

.debug-status-200 {
  background-color: rgba(0, 128, 0, 0.2);
}

.debug-status p {
  margin: 0;
}