.loading {
  @include rgba(background-color, $color-white, .7);
  display: table;
  height: 100vh;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity .5s;
  width: 100vw;
  z-index: 0;
  .loading__message {
    display: table-cell;
    opacity: 1;
    text-align: center;
    transition: opacity .3s;
    vertical-align: middle;
    .text {
      @include rgba(background-color, $color-white, .7);
      @include brandFont;
      display: inline;
      font-size: 2em;
      padding: 20px;
    }
  }
}

.loading-removed {
  opacity: 0;
  .loading__message {
    opacity: 0;
  }
}