/*
 * Priority Matrix
 */

.prio-type-2 {
  .sortable {
    margin-bottom: 0;
    margin-top: 34px;
    position: relative;
    &:before {
      color: $color-black;
      display: block;
      position: absolute;
      text-shadow: 0 0px 40px $color-white;
      top: -3px;
      left: 2px;
      @include prefixed(transform, translateY(-100%));
    }
  }
  .quadrant-left-top {
    border-bottom: 1px solid $color-primary;
    &:before {
      content: "Do now";
    }
  }
  .quadrant-right-top {
    border-bottom: 1px solid $color-primary;
    &:before {
      content: "Do later";
    }
  }
  .quadrant-left-bottom {
    border-bottom: 1px solid $color-primary;
    &:before {
      content: "Crucial";
    }
  }
  .quadrant-right-bottom {
    &:before {
      content: "Not crucial";
    }
  }
  @media screen and (min-width: 25em) {}
  @media screen and (min-width: 35.5em) {
    .quadrant-left-top {
      border-right: 1px solid $color-primary;
    }
    .quadrant-left-bottom {
      border-bottom: 0;
      border-right: 1px solid $color-primary;
      margin-top: 0;
      margin-bottom: 34px;
      &:before {
        bottom: -3px;
        top: 0;
        @include prefixed(transform, translateY(100%));
      }
    }
    .quadrant-right-bottom {
      margin-top: 0;
      margin-bottom: 34px;
      &:before {
        bottom: -4px;
        top: 0;
        @include prefixed(transform, translateY(100%));
      }
    }
  }
  @media screen and (min-width: 48em) {}
}