@mixin task-style {
  background-color: $color-white;
  box-sizing: content-box;
  position: relative;
  box-shadow: 0 1px 1px 0 rgba($color-black, .2);
  border-radius: 5px;
  max-height: 30px;
  padding: 5px 10px;
  margin: 4px 0 0;
  box-sizing: content-box;
}

@mixin text-input {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
  cursor: grab;
  height: $checkbox-size * .9;
  line-height: $checkbox-size + 2;
  overflow-x: scroll;
  overflow-y: hidden;
  outline: none;
  margin-left: $checkbox-size + 8px;
  padding-top: 3px;
  resize: none;
  transition: margin-top .4s .8s;
  white-space: nowrap;
  width: 100%;
  &[disabled] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &:not([disabled]) {
    background: $color-white;
  }
}

.tool {
  z-index: 3;
  .drag-container {
    padding: 0 1em;
  }
  .task-list {
    min-height: 100px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .prio-type > ul,
  .prio-type > ol {
    min-height: 100px;
  }
  .task {
    @include task-style;
    cursor: grab;
    opacity: 1;
    overflow: hidden;
    position: relative;
    transition: transform .3s .8s, max-height .4s .8s, padding .4s .8s, margin .4s .8s, opacity 1.1s .3s, font-size .4s .8s;
    .text-input {
      @include text-input;
      z-index: 1;
    }
    &.gu-transit {
      -webkit-filter: blur(1px);
      filter: blur(1px);
      opacity: .5;
      transition: none;
    }
  }
  .task-checked {
    cursor: default;
    font-size: .8em;
    max-height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    transform: skew(-22deg, 3deg) translate(14px, -5px);
    z-index: -1;
    .text-input {
      margin-top: -2px;
    }
  }
  .drag-source .task {
    transition: inherit;
  }
  .drag-source:not(.sortable) > ul:not(.sortable) .task:not(.gu-transit),
  .drag-source:not(.sortable) > ol:not(.sortable) .task:not(.gu-transit) {
    opacity: .8;
  }
}

// Currently dragged task
.gu-mirror {
  @include task-style;
  cursor: grabbing;
  list-style-type: none;
  .checkbox {
    cursor: grabbing;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  textarea,
  .text-input {
    @include text-input;
    cursor: grabbing;
  }
}